<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title :: Sky Drifters</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
       
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/the-big-picture.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    <body class="full">
        


            <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Default">The Drifters</a>
                <a class="navbar-brand" href="~/WANMED">WANMED</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="~/About">The Faction</a>
                    </li>
                    <li>
                        <a href="#">Dossier</a>
                    </li>
					<li>
                        <a href="~/Contact">Links</a>
                    </li>
                    <li>
                        <a href="#">Member Area</a>
                    </li>
                </ul>
                   <!-- Check for login, note i did not build this system but i wont try recoding it, if it works then ill leave it-->
                        @if (WebSecurity.IsAuthenticated) {
                            <ul class="nav navbar-nav navbar-right">
                               <li><a class="email" href="~/Account/Manage" title="Manage">Hello, @WebSecurity.CurrentUserName</a></li>
                            </ul>
                        } else {
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="~/Account/Register"><span class="glyphicon glyphicon-user"></span>Register</a></li>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
       
        <div class="row">
            <div class="col-md-2">
                 <div class="well">
                @if (WebSecurity.IsAuthenticated) {
                            <a class="email btn btn-small btn-primary" href="~/Account/Manage" title="Manage">Your Account</a>
                            
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-small">Log out</a>
                                </form>
                            
                        } else {
                            
                                <a href="~/Account/Register" class="btn btn-small"><span class="glyphicon glyphicon-user"></span>Register</a>
                                <a href="~/Account/Login" class="btn btn-small btn-primary">Log in</a>
                          
                        }
            </div>
            </div>
        <div class="col-md-7 col-sm-12">
            <a href="~/Default"><img alt="Sky Drifters" src="https://images.cooltext.com/4678634.png"></img></a>
            <div class="well">
            
        <div id="body">
            
         
            @RenderSection("main", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        </div>
        </div>
            <div class="col-md-3 col-sm-12">
                <iframe src="http://discordi.deliriousdrunkards.com/render?id=181393289411297281&theme=dark&join=true&abc=false&showall=true&toggle=false" width="300px" height="400px" frameborder="0"></iframe>
            </div>
            </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Sky Drifters inDEV version</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>